* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.container {
	width: 400px;
	height: 420px;
	display: flex;
	justify-content: space-between;
}

.grid {

  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap; /* <== nice property*/
  background: yellow;
}

.grid > div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 8px;
}

.tetromino {
  background-color: lightgreen;
}
.taken {
  background-color: #333;
}

.mini-grid {
	width: 80px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	background-color: lightgreen;
}

.mini-grid > div {
	width: 20px;
	height: 20px;
	border: 1px solid blue;
}
